body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0,0, 0.7)),url('30.jpg');
}

h1{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 170, 0);
}
hr{
    width: 100;
    border:solid 2px rgb(255, 170, 0);
}
p{
    font-size:20px;
    color:beige;
    line-height: 2;
}
b{
    text-shadow: 2px 2px 5px rgb(255, 170, 0);
}

i{
    text-decoration: underline;
    text-shadow: 3px 3px 6px orangered;
}

