.container{
    border:solid red 2px;
    background-color:rgb(202,202,7);
    display:flex;
   /* flex-direction:row;
    flex-wrap:wrap-reverse;*/
    flex-flow:row wrap;
    align-items:center;
    justify-content: space-around;
    /*justify-items:center;*/
    width:600px;
    height:600px;
    
}

.container > div{
    border:solid rgb(3,3,12) 2px;
    background-color:beige;
    height:200px;
    width:200px;
    color:blue;
    font-size:50px;

}

.container > div > img{
    height:50%;
    width: 50%;
    position: relative;
    animation-name:animate1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* .container > div > img:hover{
    transform:rotate(360deg) scale(2.5) translate(50px) skew(45deg);
    transition:2s;
   
} */

@keyframes animate1 {
    from{
        left:0;
        top:0;
        transform: rotate(0deg);
    }
    50%{
        left:400px;
        top:0;
        transform: rotate(180deg);
    }
    to{
        left: 400px;
        top: 400px;
        transform: rotate(360deg);
    }
}